{% extends 'base.html' %} 
{% load static %}

<tittle>{% block title %} {% endblock title %} </tittle>


{% block contenido %}



    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex justify-cntent-center align-items-center">
      <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
  
        <!-- Slide 1 -->
        <div class="carousel-item active">
          <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">Nuestra <span>Historia</span></h2>
            <p class="animate__animated animate__fadeInUp">Nacimos en Octubre de 2022 en la localidad de Resistencia provincia de Chaco, por la iniciativa de un grupo de voluntarios amigos que, asesorados y guiados por la necesidad de la comunidad
              , comenzamos a distribuir alimentos y ropa entre la población más pobre y vulnerable de la zona.
              Desde entonces, estamos en constante crecimiento
            </p>
            <a href="quienes_somos.html" class="btn-get-started animate__animated animate__fadeInUp">Ver Más</a>
          </div>
        </div>
  
        <!-- Slide 2 -->
        <div class="carousel-item">
          <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">¿Que hacemos?</h2>
            <p class="animate__animated animate__fadeInUp">En Argentina llevamos adelante muchos programas por medio de
              donaciones económicas y materiales, y por la colaboración de numerosos voluntarios que de un modo gratuito,
              organizado y comprometido, se empeñan en mejorar y transformar las condiciones de vida de los más
              vulnerables, manifestando el amor “mas con gestos que con palabras”</p>
            <a href="quienes_somos.html" class="btn-get-started animate__animated animate__fadeInUp">Ver Más</a>
          </div>
        </div>
  
  
        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
        </a>
  
        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
        </a>
  
      </div>
    </section><!-- End Hero -->
  
    <main id="main">
  
      
  
      <!-- ======= Blog Section ======= -->
      <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
  
            <div class="col-lg-12 entries">
              <!--Noticia 1-->
              <article class="entry">
  
                <div class="row">
                  <div class="col-2">
                    <div class="entry-img">
                      <img src="static/assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
                    </div>
                  </div>
  
  
                  <div class="col-10" style="padding-left: 27px; margin-top: -30px;">
                    <h2 class="entry-title">
                      <a href="blog-single.html">Compartimos la mesa con vos</a>
                    </h2>
  
                    <div class="entry-meta">
                      <ul>
                        <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a
                            href="blog-single.html">Anonimo</a></li>
                        <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time
                              datetime="2020-01-01">8 de diciembre 2022</time></a></li>
                        <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a
                            href="blog-single.html">Comentarios</a></li>
                      </ul>
                    </div>
                    <div class="entry-content">
                      <p>
                        ✨ Colaborá con tu donación y recibí un kit para imprimir para tu mesa ❤️
                        Ingresá al siguiente link y ayudanos a compartir estas fiestas con quienes más nos necesitan 👇🏻
                        www.manosabiertas.org.ar/navidad-202
                        🙌🏻.
                        .
                      </p>
                      <div class="read-more">
                        <a href="blog-single.html">Ver Más.</a>
                      </div>
                    </div>
                  </div>
                </div>
  
              </article>
              <!--Fin noticia 1-->
  
              <!--Noticia 2-->
              <article class="entry">
  
                <div class="row">
                  <div class="col-2">
                    <div class="entry-img">
                      <img src="static/assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
                    </div>
                  </div>
  
  
                  <div class="col-10" style="padding-left: 27px; margin-top: -30px;">
                    <h2 class="entry-title">
                      <a href="blog-single.html">Compartimos la mesa con vos</a>
                    </h2>
  
                    <div class="entry-meta">
                      <ul>
                        <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a
                            href="blog-single.html">Anonimo</a></li>
                        <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time
                              datetime="2020-01-01">8 de diciembre 2022</time></a></li>
                        <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a
                            href="blog-single.html">Comentarios</a></li>
                      </ul>
                    </div>
                    <div class="entry-content">
                      <p>
                        ✨ Colaborá con tu donación y recibí un kit para imprimir para tu mesa ❤️
                        Ingresá al siguiente link y ayudanos a compartir estas fiestas con quienes más nos necesitan 👇🏻
                        www.manosabiertas.org.ar/navidad-202
                        🙌🏻.
                        .
                      </p>
                      <div class="read-more">
                        <a href="blog-single.html">Ver Más.</a>
                      </div>
                    </div>
                  </div>
                </div>
  
              </article>
              <!--Fin noticia 2-->
  
            </div><!-- End blog entries list -->
  
          </div>
  
        </div>
      </section><!-- End Blog Section -->
  
  
      <!-- ======= Facts Section ======= -->
      <section class="facts section-bg" data-aos="fade-up">
        <div class="container">
  
          <div class="row counters">
  
            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="0" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Clientes</p>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Projectos</p>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Horas</p>
            </div>
  
  
          </div>
  
        </div>
      </section><!-- End Facts Section -->
      
    </main><!-- End #main -->
    <!-- ======= Service Details Section ======= -->
    <section class="service-details">
      <div class="container">
  
        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card">
              <div class="card-img">
                <img src="static/assets/img/Comunidad-Qom-4-De-Corazon.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="#">Nuestra Misión</a></h5>
                <p class="card-text">Somos un movimiento de voluntarios que acompaña a personas en situación de soledad y vulnerabilidad, creando y desarrollando espacios de confianza, alegría y esperanza.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card">
              <div class="card-img">
                <img src="static/assets/img/Qom-1-1024x768.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="#">Nuestro Plan</a></h5>
                <p class="card-text">Abocados a ayudar a las comunidades mas vulnerables</p>
              </div>
            </div>
  
          </div>
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card">
              <div class="card-img">
                <img src="static/assets/img/coro-qom-chelaalapijpg.webp" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="#">Nuestra Visión</a></h5>
                <p class="card-text">Gestar creativamente una sociedad comprometida en la justicia y solidaridad que amando y sirviendo pone la mirada en la persona y sus necesidades.t</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card">
              <div class="card-img">
                <img src="static/assets/img/qom-pueblos-originarios-chaco.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="#">Nuestros Valores</a></h5>
                <p class="card-text">Amor, paciencia.........</p>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </section><!-- End Service Details Section -->

  {% include 'footer.html' %}

  

</body>

</html>

{% endblock contenido %}